:root {
    /* MARK: LCH VARIABLES */

    /**
    If any of the following pairs of conditions are met:
    0.747 <= L <= 0.751, C <= 0.127
    L <= 0.957, C = 0.02
    ==> Any H exists in P3 space.
    */

    --L-xhi: 0.957; /* C = C-lo => Max L =  0.957 such that H is in P3 space.*/
    --L-hi: calc(var(--L-xhi) / 1.618);
    --L-med: calc(var(--L-hi) / 1.618);
    --L-lo: calc(var(--L-med) / 1.618);
    --L-xlo: calc(var(--L-lo) / 1.618);
    --C-hi: 0.144; /* L = L-hi => Max C = 0.144 such that the all of the below hues exist in P3 space */
    --C-lo: 0.02; /* Off-white colors, but not gray */
    /* Mac > Settings > Apperance > These hues are the accent color options. */
    --H-orange: 56deg; /* accent */
    --H-blue: 261deg; /* primary */
    --H-red: 28deg; /* fail */
    --H-green: 141deg; /* success */



    /* MARK: DARK MODE COLOR VARIABLES */
    /* All colors use a short list of L, C, and H values. */

    --bg-dark-color:  oklch(var(--L-xlo) var(--C-lo) var(--H-blue));
    --bg-color:       oklch(var(--L-lo)  var(--C-lo) var(--H-blue));
    --bg-light-color: oklch(var(--L-med) var(--C-lo) var(--H-blue));
    --text-color:     oklch(var(--L-xhi) var(--C-lo) var(--H-orange));
    --accent-color:   oklch(var(--L-hi)  var(--C-hi) var(--H-orange));
}



/* MARK: DEFAULT ATTRIBUTES FOR ALL ELEMENTS */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--bg-dark-color);
    color: var(--text-color);
}

p {
    background-color: var(--bg-color);
}

button {
    background-color: var(--accent-color);
    color: inherit;
}

